.title {
  text-align: center;
}
.boardsContainer{
  text-align: center;
}
.pad {
  display: inline-block;
  height: 157px;
  width: 157px;
  margin-left: 15px;
  margin-right: 15px;

}

.square {
  margin: -1.5px;
  display: inline-block;
  height: 25px;
  border: solid black;
  width: 25px;
}

#startGame {
  margin-top: 30px;
  text-align: center;
}
